.singleTodo{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 60%;
    margin: 1px;
}
.mainData{
    padding: 5px;
    /* background-color: aliceblue; */
}
.span_icons{
    padding: 5px ;
}
.editTodoInput{
    width: 150%;
    padding: 5px;
    background-color: aliceblue;
    border: none;
}